<app-header></app-header>
<h1> {{ title }} </h1>
<app-lista-colaboradores></app-lista-colaboradores>
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Colaborador</th>
                <th>Salário</th>
                <th>Cargo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{id}}</th>
                <th>{{colaborador}}</th>
                <th>{{salario}}</th>
                <th>{{cargo}}</th>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>